.mensaje {
    color: red;
    text-align: center;
    font-size: 24px;
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    top: 40px;
}
#imagen1{
    transform: scale(0.3);
    position: absolute;
    left: -25px;
    top: -90px;
}
.botonesparaniveles{
    position: absolute;
    left: 1100px;
    top: 100px;
    transform: scale(1.75);
    display: flex;
    gap: 0px;
    flex-direction: column;
}
